.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

.section-padding {
  padding: 6em 2em;
}

.section-heading {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em 0;
}

.lead {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.white-block {
  position: absolute;
  height: 45px;
  width: 60%;
  background-color: white;
}
.white-block-left {
  bottom: -1px;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: -1px;
  right: -50px;
  transform: skew(45deg);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  scroll-padding-top: 67px;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.4;
  scroll-behavior: smooth;
}

.burger-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 0.3em;
  font-size: 36px;
  color: rgb(25, 221, 71);
  border: 1px solid transparent;
  cursor: pointer;
  background: none;
  z-index: 100;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(5, 193, 33, 0.5);
  border-radius: 8px;
}

.nav {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/nav3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  z-index: 90;
  transform: translateY(-100%);
  display: flex;
  transition: 0.8s;
  justify-content: center;
  align-items: center;
}
.nav--active {
  transform: translateY(0);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/drops2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item {
  position: relative;
  text-decoration: none;
  display: block;
  color: white;
  padding: 0.5em 2em;
  border-radius: 8px;
  font-size: 1.4rem;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: white;
  content: "";
  transform: scaleY(0);
}

.nav__items a:hover {
  background-color: rgb(10, 165, 67);
}

.showcase {
  background: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75));
  color: white;
  height: 80vh;
  position: relative;
  overflow: hidden;
}

.showcase::before {
  content: "";
  background-image: url("../img/car-interior-console-close-up-view-gear-stick-with-multimedia-console.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase::after {
  content: "";
  background-image: url(../img/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 70%;
  z-index: 0;
}

.showcase-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.showcase-inner h2 {
  margin-top: 12em;
  font-size: 1.4rem;
}

.about {
  position: relative;
  overflow: hidden;
}

.about-us__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.about-us__box-img {
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url(../img//young-woman-testing-car-car-showroom.jpg);
  width: 100%;
  height: 500px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-us__box-text {
  font-size: 1.4rem;
  padding: 1.5em;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url(../img/5510.jpg);
  color: white;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.services {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/contact3.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.services .section-heading {
  color: white;
}
.services .services-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services .services-card {
  position: relative;
  height: 500px;
  width: 100%;
  min-width: 30%;
  border-radius: 15px;
  margin-bottom: 2em;
  transform: translateX(0);
}
.services .services-card:hover .services-card__img {
  transform: rotateX(180deg);
  opacity: 0;
}
.services .services-card:hover .services-card__info {
  transform: rotateX(0);
  opacity: 1;
}
.services .services-card__img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: 3px solid white;
  transition: transform 1s, opacity 1s;
  perspective: 800px;
}
.services .services-card__img--brown {
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/brown.jpg");
}
.services .services-card__img--gold {
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/gold.jpg");
}
.services .services-card__img--silver {
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/silver.jpg");
}
.services .services-card__img-heading {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 4em;
}
.services .services-card__info-text {
  font-size: 3rem;
  color: white;
  text-align: center;
  overflow: hidden;
  border-top: 3px solid white;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75));
}
.services .services-card__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url(../img/5510.jpg);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  border: 3px solid white;
  transition: transform 1s, opacity 1s;
  transform: translateX(-180deg);
  opacity: 0;
}
.services .services-card__info-heading {
  margin-top: 1em;
  color: rgb(25, 221, 71);
  text-align: center;
  font-size: 2rem;
}
.services .services-card__info-list {
  text-align: center;
  color: white;
  font-size: 1.4rem;
  padding: 0.5em;
}
.services .services-card__info-list li {
  list-style: circle;
  margin-bottom: 0.5em;
}
.services .services-card__info-text {
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: 0.5em;
  border-bottom: 3px solid white;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75));
}

.why-us {
  position: relative;
  overflow: hidden;
}
.why-us__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us__card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  margin: 1em;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url(../img/5510.jpg);
  transition: transform 1s;
}
.why-us__card:hover {
  transform: scale(1.1);
}
.why-us__card-icon {
  color: white;
  padding: 0.5em;
  font-size: 5rem;
}
.why-us__card-text {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 0.5em;
  padding: 1em;
}

.hero-img {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/drops2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  padding: 10em 2em;
}
.hero-img .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-img__heading {
  color: white;
  font-size: 2.4rem;
  text-align: center;
}
.hero-img__text {
  padding: 0.5em;
  color: white;
  font-size: 1.6rem;
}
.hero-img__btn {
  text-align: center;
  padding: 1em 3em;
  border: 3px solid white;
  border-radius: 8px;
  background-color: rgb(3, 84, 55);
  transition: background-color 0.4s;
}
.hero-img__btn:hover {
  background-color: rgb(12, 110, 48);
}
.hero-img__btn-link {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.reviews__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews__card {
  position: relative;
  height: 100%;
  width: 80%;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url(../img/5510.jpg);
  border-radius: 15px;
  margin: 3em;
  transition: transform 1s;
}
.reviews__card:hover {
  transform: scale(1.1);
}
.reviews__card-img {
  position: absolute;
  top: -13%;
  left: 80%;
  background-position: center;
  background-size: cover;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.reviews__card-img--one {
  background-image: url("../img/john.jpg");
}
.reviews__card-img--two {
  background-image: url("../img/matthew.jpg");
}
.reviews__card-img--three {
  background-image: url("../img/lisa.jpg");
}
.reviews__card-info {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-top: 3em;
}
.reviews__card-text {
  color: white;
  font-size: 1.4rem;
}
.reviews__card-name {
  color: white;
  font-size: 1.4rem;
  padding: 0.5em;
  align-self: flex-end;
}

.contact {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/contact2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.contact .section-heading {
  color: white;
}
.contact__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.contact__box-title {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: 0.5em;
}
.contact__box-icon {
  font-size: 3rem;
  color: white;
}
.contact__box-info {
  text-align: center;
  color: white;
  font-size: 1.4rem;
}
.contact__box-info strong {
  font-size: 1.6rem;
  color: rgb(10, 165, 67);
}
.contact__box-link {
  color: white;
  font-size: 2rem;
  margin-right: 0.5em;
  transition: color 0.4s;
}
.contact__box-link:hover {
  color: rgb(10, 165, 67);
}

.footer {
  background-color: rgb(12, 110, 48);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h2 {
  text-align: center;
  color: white;
}

@media (min-width: 767px) {
  .nav {
    background-image: linear-gradient(45deg, rgba(14, 27, 47, 0.75), rgba(4, 128, 84, 0.75)), url("../img/drops2.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
  }
  .nav__item {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0.3em;
  }
  .showcase-inner h2 {
    font-size: 2rem;
  }
  .services .services-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .services .services-card {
    margin: 1em;
    width: 30%;
  }
}
@media (min-width: 992px) {
  .reviews__cards {
    flex-direction: row;
    justify-content: center;
  }
  .reviews__card {
    width: 30%;
    height: 100%;
    box-shadow: 5px 5px 10px rgb(12, 110, 48);
  }
  .reviews__card-img {
    top: -10%;
    left: 70%;
  }
  .why-us__cards {
    flex-direction: row;
  }
  .why-us__card {
    height: 500px;
    width: 30%;
    box-shadow: 5px 5px 10px rgb(12, 110, 48);
  }
}
@media (min-width: 1100px) {
  .showcase-inner h2 {
    font-size: 2rem;
  }
  .about-us__box {
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(12, 110, 48);
  }
  .about-us__box-img {
    height: 700px;
    width: 70%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
  }
  .about-us__box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 60%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
  }
  .contact__boxes {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  .contact__box {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */