.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}
.section-padding{
    padding: 6em 2em;
}
.section-heading{
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 0;
}

.lead{
    color: white;
    text-align: center;
	font-size: 2rem;
}


.white-block {
	position: absolute;
	height: 45px;
	width: 60%;
	background-color: white;

	&-left {
		bottom: -1px;
		left: -50px;
		transform: skew(45deg);
	}
	&-right {
		top:-1px;
		right: -50px;
		transform: skew(45deg);
	}
}